<hr>
  <div class="prezie">
    <strong><%= prezie.title %></strong><br>
    <%= image_tag prezie.thumbnail, class: "prezie-img" %><br>
    by: <%= prezie.creator.name %><br>
    <%= prezie.thumbnail %><br>
    <%= prezie.created_at %><br>
  </div>
<hr>