<div class="prezie col-md-4">
  <strong><%= prezie.title %></strong>
  <%= image_tag prezie.thumbnail, class: "prezie-img imag-thumbnail" %>
  by: <%= prezie.creator.name %>
  <%= prezie.thumbnail %>
  <%= prezie.created_at %>
</div>