<div class="container">
  <div class="row">
    <br>
    <div class="search col-md-12">
      <%= form_tag search_prezies_path, remote: true, id: "prezie-search-field" %>
      <%= text_field_tag "search[query]" %>
      <%= submit_tag "search" %>
      <%= link_to "clear", "" %>
    </div>
  </div>

  <br>

  <div class="row prezies">
    <%= render partial: "prezie", collection: @prezies %>
  </div>

  <br>

  <%= will_paginate @posts %>
</div>

